[submodule "Dummy_Plug"]
	path = Dummy_Plug
	url = git://github.com/ikwzm/Dummy_Plug.git
[submodule "PipeWork"]
	path = PipeWork
	url = git://github.com/ikwzm/PipeWork.git
[submodule "msgpack-vhdl"]
	path = msgpack-vhdl
	url = git://github.com/ikwzm/msgpack-vhdl
[submodule "LED_AXI"]
	path = LED_AXI
	url = git://github.com/ikwzm/LED_AXI.git
[submodule "PTTY_AXI"]
	path = PTTY_AXI
	url = git://github.com/ikwzm/PTTY_AXI.git
